{%include "base_header.html" %}
<body style="background-color: #F0FFFF"></body>
<br>
<br>
<div class="d-flex justify-content-center align-items-center vh-50">
  <div class="col-md-6">
    <h2 class="text-center mb-4">Create News</h2>
    <form method="POST" class="form-horizontal">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_news" class="control-label">News:</label>
        <div class="input-group">
          <input type="text" name="news" id="id_news" class="form-control form-control-lg" style="height: 80px;" required>
        </div>
      </div>
      <div class="form-group text-left">
        <button type="submit" class="btn btn-primary px-4" style="margin-left: 0px;">Create</button>
      </div>
    </form>
  </div>
</div>
