<div style="background-color: #F0FFFF">
    <div class="container pb-5">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-header bg-dark text-white ">Notices</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        {% if request.user.is_superuser %}
                        <button class="button btn-block bg-primary text-white">Add </button>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-header bg-dark text-white ">Events</h5>
                        <p class="card-text">
                            {% for news in news_list %}
                            <ol>
                            
                                {{news.news}}
                            </ol>
                           {%  endfor %}
                            
                           
 
                        </p>
                        {% if request.user.is_superuser %}
                        <button class="button btn-block bg-primary text-white">Add </button>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-header bg-dark text-white ">News</h5>
                        {% for news in nws %}
                        <ul>
                           <li> {{news}}</li>
                           <form action="{% url 'delete_news' pk=news.pk %}" method="post">
                            {% csrf_token %}
                            {% if request.user.is_superuser %}
                            <input type="submit" value="Delete">
                            {% endif %}
                          </form>
                        </ul>
                        {% endfor %}
                        {% if request.user.is_superuser %}
                        
                        <button class="button btn-block bg-primary text-white"><a class="nav-link navbar-light hover:bg-dark  " href="{% url 'create_news' %}">Add</a> </button>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>